body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: url('../Assets/Background/background-stars.avif') no-repeat center center fixed;
    background-size: cover;
    color: white;
}

/* ------------------------------------------- NAVBAR --------------- */

nav {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    font-weight: 900;

}

nav h2 a {
    color: #e4e4e4;
    text-decoration: none;
    font-size: 30px;
    text-shadow: #594c59 1px 1px;
    margin-left: 20px;
    transition: transform 0.1s ease-in;
}

nav h2 a:hover {
    color: #3d3c3d;
    transform: scale(1.1);
}

.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-right: 20px;
}

.menu-icon .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
    transition: 0.4s;
}

#nav-links {
    gap: 50px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
}

nav ul li {
    margin: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
    color: rgba(0, 0, 0, 0.845);
    text-shadow: rgb(127, 127, 127) 0 0 5px;
    text-decoration: underline;
    text-decoration-color: rgb(52, 52, 52);
    transition: all 0.3s ease;
}

.disclaimer {
    margin-bottom: 20px;
    font-size: 14px;
    color: #ffeb3b;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    text-wrap: wrap;
    word-wrap: break-word;
}

#container {

    margin: 100px 160px 0 160px;
    text-align: center;
    padding: 10px;
}

#filterBtn {
    padding: 8px 20px;
    margin: 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    border: 1px solid white;
}

#filterBtn:hover {
    background-color: #555;
}

#refreshBtn {
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    transform: translateX(-100%) translateY(-50%);
}

#refreshBtn:hover {
    background-color: #555;
}

#image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    justify-items: center;
}

#image-grid img {
    max-width: 100%;
    border-radius: 5px;
    cursor: pointer;
    display: block;
}

#image-grid img:hover {
    outline: 2px solid #460048;
    box-shadow: 1px 2px 6px white;
}

.hidden {
    display: none;
}

#filterCard,
#warningCard {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #222;
    padding: 20px;
    border: 1px solid #444;
    text-align: center;
}

.filterContent,
.warningContent {
    text-align: center;
}

#closeFilterCard,
#closeWarningCard {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.warningContent {
    color: #f00;
}

.anime-news-flex legend {
    font-size: 1.8em;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #ec006a;
}

/* --------------------------------------------------------- Footer Styles -------------------------------------------- */
.footer {
    background-color: #1a1a1a;
    color: #f2f2f2;
    padding: 50px 20px;
    text-align: left;
    font-family: 'Poppins', sans-serif;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.footer-left,
.footer-center,
.footer-right {
    flex: 1;
    min-width: 250px;
    margin: 20px 0;
}

.footer-left h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.footer-left p {
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 1.6;
}

.footer-left .social-icons {
    margin-top: 20px;
}

.footer-left .social-icons a {
    color: #f2f2f2;
    margin-right: 10px;
    font-size: 18px;
    transition: color 0.3s;
}

.footer-left .social-icons a:hover {
    color: #007bff;
}

.footer-center h3,
.footer-right h3 {
    font-size: 18px;
    margin-bottom: 20px;
}

.footer-center ul,
.footer-right ul {
    list-style: none;
    padding: 0;
}

.footer-center ul li,
.footer-right ul li {
    margin-bottom: 10px;
}

.footer-center ul li a,
.footer-right ul li a {
    color: #f2f2f2;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-center ul li a:hover,
.footer-right ul li a:hover {
    color: #007bff;
}

.footer-right ul li {
    display: flex;
    align-items: center;
}

.footer-right ul li i {
    margin-right: 10px;
    font-size: 16px;
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
}

.footer-bottom p {
    margin: 0;
}


@media (max-width: 768px) {

    body {
        background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)), url("../Assets/Background/background-stars.avif") no-repeat center/cover;
        background-attachment: fixed;
    }

    .menu-icon {
        display: flex;
    }

    nav {
        padding: 10px 0;
    }

    nav ul {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 30vh;
        background-color: rgba(0, 0, 0, 0.9);
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateY(-100%);
        transition: transform 0.4s ease-in-out;
    }

    nav ul.active {
        transform: translateY(0);
    }

    nav ul li {
        margin: 20px 0;
    }

    #nav-links {
        gap: 0;
    }

    .menu-icon.open .bar {
        z-index: 1;
        margin-right: 10px;
    }

    .menu-icon.open .bar:nth-child(1) {
        transform: rotate(45deg) translate(10px, 5px);
    }

    .menu-icon.open .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-icon.open .bar:nth-child(3) {
        transform: rotate(-45deg) translate(10px, -5px);
    }

    /* --------------------------- WAIFU SECTION --------------------------- */

    #refreshBtn {
        right: 0;
        transform: translateX(-20%) translateY(-50%);
        border: 1px solid white;
    }

    #container {
        margin: 80px 0 0 0;
    }

    #image-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
        gap: 5px;
    }

    /* ----------------- FOOTER ------------------------------ */
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-left,
    .footer-center,
    .footer-right {
        max-width: 100%;
        margin: 10px 0;
    }

    .footer-right ul li {
        justify-content: center;
    }

    .footer-left h2,
    .footer-center h3,
    .footer-right h3 {
        margin-bottom: 5px;
    }

    .footer-left p {
        margin-bottom: 10px;
    }
}

/* ------------------------------- PRE-LOADER ------------------------------- */

#pre-loader {
    background: #0f0f0fb7 url(../Assets/Loader/IndinmeZone.gif) no-repeat center center;
    background-size: 10%;
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 9999;
}